{% extends 'base.html.twig' %}

{% block title %}New Materiel{% endblock %}

{% block body %}
    <section class="card">
        <h1>Create Materiel</h1>
        {% include 'materiel/_form.html.twig' with {form: form, current_user: current_user, button_label: 'Create'} %}
    </section>
{% endblock %}
