<form method="post" action="{{ path('app_parcelle_delete', {'idParcelle': parcelle.idParcelle}) }}" class="d-inline">
    <button type="submit" class="{{ button_class|default('button-danger') }}">Supprimer</button>
</form>
