{% extends 'base.html.twig' %}

{% block title %}Modifier la plante{% endblock %}

{% block body %}
<section class="form-shell reveal">
    <div class="section-head">
        <div>
            <div class="section-kicker"><i class="bi bi-pencil-square"></i> Edition plante</div>
            <h1 class="page-title">Modifier la plante</h1>
        </div>
        <a href="{{ path('app_plante_index') }}" class="button-secondary">Retour a la liste</a>
    </div>
    {{ include('plante/_form.html.twig', {'form': form}) }}
</section>
{% endblock %}
